@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none dark:border-gray-800 dark:bg-gray-900 group-hover:dark:bg-gray-800;
  }
}

@layer utilities {
  .hero-bg-color {
    @apply bg-gradient-to-r from-gray-300/80 to-gray-100 dark:from-gray-900 dark:to-gray-800 dark:text-white;
  }

  .form-input {
    @apply w-full rounded-full border border-gray-300 dark:border-gray-500 dark:bg-gray-800 px-2 py-1 mb-4;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}

.animate-slide-down {
  animation: slideDown 0.35s ease forwards;
}

@keyframes fadeBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeModal {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeBg {
  animation: fadeBg 0.35s ease-out;
}

.animate-fadeModal {
  animation: fadeModal 0.35s ease-out;
}


/* Fondo entrando */
@keyframes fadeBgIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Fondo saliendo */
@keyframes fadeBgOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Modal entrando */
@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Modal saliendo */
@keyframes modalOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
}

.animate-fadeBgIn {
  animation: fadeBgIn 0.3s ease-out forwards;
}

.animate-fadeBgOut {
  animation: fadeBgOut 0.3s ease-in forwards;
}

.animate-modalIn {
  animation: modalIn 0.3s ease-out forwards;
}

.animate-modalOut {
  animation: modalOut 0.3s ease-in forwards;
}

@keyframes bounceLeft {
  0%, 100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(-6px);
  }
}

@keyframes bounceRight {
  0%, 100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(6px);
  }
}

